:root {
  --primary-color: #2196F3;
}

* {
  margin: 0;
  padding: 0;
  scroll-margin-top: 100px;
}

:root {
  scroll-behavior: smooth;
}

/* #root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
} */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  overflow-x: hidden;
  background-color: #FFFFFF;
  /* padding-top: 60px; */
  height: calc(100% - 100px);
}

a {
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

.form-container span .welcome span {
  font-size: 14px;
}

.welcome span {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

/*------------------------------Main--------------------------------*/
.main {
  /* .main,footer{ */
  margin-left: 80px;
}

.main {
  margin-top: 100px;
  margin-bottom: 70px;
  transition: all 0.3s;
  min-height: calc(100% - 70px);
  /* width: 100%; */
  position: relative;
}

@media (max-width: 1199px) {
  .main {
    padding: 20px;
  }
}

.pagetitle {
  margin-bottom: 10px;
}

/*------------------------Header--------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

@media(max-width:480px) {
  .logo img {
    max-width: 160px;
    /* height: 70px;
      margin-right: 6px;
      width: 200px; */
  }
}

.header {
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  /* padding-left: 20px; */
}

@media(min-width:481px) {
  .header {
    height: 100px
  }
}

.header .btn {
  background-color: #f6f9ff;
  font-weight: 400;
  font-size: 16px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 300px;
  padding: 0 20px;
}

.live {
  margin: auto;
  color: #E1E1E1;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    padding: 15px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar.active {
    visibility: visible;
    opacity: 1;
  }


  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px !important;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 13px 40px 13px 13px;
  border-radius: 3px;
  transition: 0.3s;
  width: 380px;
  box-shadow: inset -10px 6px 17px 0px #D1D1D1;
}

.welcome {
  box-shadow: inset -10px 6px 17px 0px #D1D1D1;
  width: 340px;
}

.profile {
  color: var(--primary-color);
}

.profile {
  box-shadow: inset -10px 6px 17px 0px #D1D1D1;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;

}

.header .search-form button {
  border: 0;
  padding: 0;
  /* margin-left: -30px; */
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*---------------------------Sidebar-----------------------------------*/
.sidebar {
  position: fixed;
  top: 100px;
  left: 0px;
  bottom: 0;
  /* width: 200px; */
  width: 70px;
  z-index: 996;
  transition: all 0.3s;
  /* padding: 20px 0px; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #005BA4 transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--primary-color);
}

.sidebar.active {
  /* left: 0px; */
  width: 200px;
  transition: all 0.3s;
}

.sidebar .main-menu {
  flex-direction: column;
  transition: all .3s;
}

.sidebar.active .main-menu {
  flex-direction: row;
}

.sidebar .menu-icon {
  margin: auto;
  width: 30px;
  transition: width .3s;
}

.sidebar.active .menu-icon {
  margin: 0;
  width: 25px;
}

.sidebar .menu-btn-con {
  padding: 0px 5px;
  justify-content: center;
}

.sidebar.active .menu-btn-con {
  justify-content: start;
}

.sidebar .menu-content {
  padding: 0;
  font-size: 12px;
  /* display: none;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out; */
}

.sidebar.active .menu-content {
  padding: 0 10px;
  font-size: 15px;
  /* display: inline-block;
    visibility: visible;
    opacity: 1; */
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

/* .sidebar-nav .sidebar-nav-link:hover { */
.sidebar-nav>.nav-item>.nav-link.sidebar-nav-link {
  border-right: 5px solid transparent;
}

.sidebar-nav>.nav-item:hover>.nav-link.sidebar-nav-link,
.sidebar-nav .sidebar-nav-link:not(.collapsed) {
  background: #006abf;
  border-right: 5px solid #349F01;
}

/* @media (min-width: 1200px) { */

.main.active {
  /* .main.active ,.main.active+footer{ */
  margin-left: 200px;
}

/* } */
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar .main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: 0px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .sidebar-nav .nav-item {
    margin-bottom: 10px;
  } */

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  transition: 0.3;
  padding: 5px 5px;
  color: #fff;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3;
  /* padding: 10px 0 10px 40px; */
  padding: 5px;
  transition: 0.3s;
  word-break: break-word;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

/***************************************/
.pagetitle,
.xmark i,
.bg-cGreen {
  background-color: #349F01;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
}

.btn-primary:disabled,
.btn-primary,
.btn-close {
  font-weight: 700;
  background-color: #349F01;
  border-color: #349F01;
}


.btn-primary:hover,
.bg-cBlue {
  background-color: var(--primary-color);
}

.contact {
  border: 2px solid var(--primary-color);
  padding: 35px
}

.box h3 {
  color: var(--primary-color);
  font-weight: 700;
  top: -53px;
  position: absolute;
  background: white;
  padding: 0px 10px;
}

/* .box input, */
.box input:not(.btn, [type=button]),
.input-shadow,
.form-control,
.form-control:focus,
.form-select:focus,
.form-control textarea:focus,
.form-floating select[multiple='multiple']+.btn-group>.input-shadow,
.form-group select[multiple='multiple']+.btn-group>.input-shadow,
.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #F6F6F6;
  min-height: 58px;

}

.box {
  position: relative;
}

label {
  font-size: 13px;
  color: darkgray;
  font-weight: 600;
}

.first .btn {
  padding: 0px 70px;
}

.image {
  background-color: #E1E1E1;
}

.logos h5 {
  color: #4BADF8;
  font-weight: 600;
}

/* 
  .form-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px 10px;
  
  } */
.form-group,
.form-floating {
  position: relative;
  margin-bottom: 20px;
}

.form-control.btn {
  border: 1px solid var(--bs-border-color);
}

.form-group input[type='text']:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group input[type='email']:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group input[type='number']:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group input[type='url']:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group input[type='color']:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group input[type='password']:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group select:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group textarea:focus:not(:placeholder-shown, [disabled], [readonly]),
.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='number'],
.form-group input[type='url'],
.form-group input[type='color'],
.form-group input[type='password'],
.form-group select,
.form-group textarea,
.form-group input[type='text']:focus,
.form-group input[type='email']:focus,
.form-group input[type='number']:focus,
.form-group input[type='url']:focus,
.form-group input[type='color']:focus,
.form-group input[type='password']:focus,
.form-group select:focus,
.form-group textarea:focus,
.form-floating select,
.form-floating select[multiple='multiple']+.btn-group>.input-shadow,
.form-group select[multiple='multiple']+.btn-group>.input-shadow {
  width: 100%;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  /* border: 1px solid transparent; */
  /* border: 1px solid #dee2e6; */
  border-radius: 10px;
  font-size: 16px;
  /* transition: all 0.3s ease ,padding-bottom .0s,padding-top .0s; */
  transition: all 0.3s ease;
  /* line-height: 1; */
}

/* .form-group input[type='text']:not(:placeholder-shown),
/* .form-group input[typeemailtext']:not(:placeholder-shown),
  .form-group input[type='number']:not(:placeholder-shown),
  .form-group input[type='url']:not(:placeholder-shown),
  .form-group input[type='color']:not(:placeholder-shown),
  .form-group input[type='password']:not(:placeholder-shown),
  .form-group select:not(:placeholder-shown),
  .form-group textarea:not(:placeholder-shown),
  .form-floating select[multiple='multiple']:not(:placeholder-shown) + .btn-group > .input-shadow{
    .form-group select[multiple='multiple']:not(:placeholder-shown) + .btn-group > .input-shadow{
    padding-top: 22px !important;
    padding-bottom: 10px !important;
    padding-right: 30px!important;
  } */
select.form-select {
  padding-right: 30px !important;
}

/* .form-floating>.form-select {
    height: auto;
    min-height: auto;
    padding: 26px 14px 6px 14px!important;
  } */

.form-floating select[multiple='multiple']+.btn-group+label.label_middle,
.form-floating select+label.label_middle,
.form-group label {
  position: absolute;
  left: 14px;
  top: calc(50% - 15px);
  background-color: #F6F6F6 !important;
  /* top: 7px; */
  font-size: 14px;
  padding: 4px 4px 4px 4px !important;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.form-group input[type='color']~label {
  padding-bottom: 0px !important;
}

.form-floating label {
  background-color: #F6F6F6 !important;
  top: 8px;
  left: 14px;
  height: auto;
  padding: 4px 4px 4px 4px;
  pointer-events: auto !important;
  z-index: 0 !important;
}

.form-floating select+label.label_middle::after,
.form-group select+label.label_middle::after,
.form-floating select+.btn-group+label.label_middle::after,
.form-group select+.btn-group+label.label_middle::after {
  content: none !important;
}

.form-group input[type='text']:focus,
.form-group input[type='email']:focus,
.form-group input[type='number']:focus,
.form-group input[type='url']:focus,
.form-group input[type='color']:focus,
.form-group input[type='password']:focus,
.form-group select:focus,
.form-floating select:focus,
.form-group select:focus,
.form-group textarea:focus,
.form-floating select[multiple='multiple']+.btn-group>.input-shadow:focus,
.form-group select[multiple='multiple']+.btn-group>.input-shadow:focus,
.form-floating select[multiple='multiple']+.btn-group>.input-shadow.show,
.form-group select[multiple='multiple']+.btn-group>.input-shadow.show {
  border-color: darkgray;
  outline: #444444;
}

/* .form-group textarea:focus:not(:placeholder-shown)+label, */

/* .form-group input[type='text']:not(:placeholder-shown)+label,
/* .form-group input[typeemailtext']:not(:placeholder-shown)+label,
  .form-group input[type='number']:not(:placeholder-shown)+label,
  .form-group input[type='url']:not(:placeholder-shown)+label,
  .form-group input[type='color']:not(:placeholder-shown)+label,
  .form-group input[type='password']:not(:placeholder-shown)+label,
  .form-group textarea:not(:placeholder-shown)+label, */


.form-floating select+label,
.form-floating select:focus+label,
.form-floating select[multiple='multiple']+.btn-group+label,
.form-floating select[multiple='multiple']+.btn-group:focus+label,
.form-group input:focus+label,
.form-group textarea:focus+label,
.form-group select+label,
.form-group input[type='text']:not(:placeholder-shown)+label,
.form-group input[type='email']:not(:placeholder-shown)+label,
.form-group input[type='number']:not(:placeholder-shown)+label,
.form-group input[type='url']:not(:placeholder-shown)+label,
.form-group input[type='color']:not(:placeholder-shown)+label,
.form-group input[type='password']:not(:placeholder-shown)+label,
.form-group textarea:not(:placeholder-shown)+label {
  top: -9px;
  font-size: 12px;
  line-height: 18px;
  /* background-color: #ffffff; */
  padding: 4px 4px 4px 4px !important;
  border-radius: 4px;
  left: 14px;
  transform: none !important;
  /* transform: initial !important; */
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}


.form-floating select[multiple='multiple']+.btn-group+label:not(.label_middle),
.form-floating select+label:not(.label_middle),
.form-floating select:focus+label,
.form-floating select[multiple='multiple']+.btn-group+label,
.form-group input:focus+label,
.form-group textarea:focus+label,
.form-group select+label,
.form-group input[type='text']:not(:placeholder-shown)+label,
.form-group input[type='email']:not(:placeholder-shown)+label,
.form-group input[type='number']:not(:placeholder-shown)+label,
.form-group input[type='url']:not(:placeholder-shown)+label,
.form-group input[type='color']:not(:placeholder-shown)+label,
.form-group input[type='password']:not(:placeholder-shown)+label,
.form-group textarea:not(:placeholder-shown)+label {
  color: var(--primary-color) !important;
}




.form-floating select[multiple='multiple']+.btn-group,
.form-group select[multiple='multiple']+.btn-group {
  width: 100% !important;
}

.input-shadow.multiselect.dropdown-toggle::after {
  content: none;
}

.multiselect-container label {
  background: transparent !important;
  line-height: 1;
  display: flex;
  align-items: center;
}

.multiselect-container {
  width: 100%;
  padding: 12px !important;
}

.multiselect-container.show {
  /* display: block; */
  transform: translate(0px, 60px);
}

.multiselect-container input[type='checkbox'] {
  margin-right: 5px;
}

.switch {
  display: inline-block;
}

.switch input {
  display: none;
}

.switch small {
  display: inline-block;
  width: 43px;
  height: 19px;
  background: #455a64;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.switch small:after {
  content: 'No';
  position: absolute;
  /* color: #91B6D4; */
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
  left: 0px;
  text-align: right;
  padding: 0 6px;
  box-sizing: border-box;
  line-height: 19px;
}

.switch small:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  margin: 2px;
  transition: .3s;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
}

.switch input:checked~small {
  background: var(--primary-color);
  transition: .3s;
}

.switch input:checked~small:before {
  transform: translate(25px, 0px);
  transition: .3s;
}

.switch input:checked~small:after {
  content: 'Yes';
  text-align: left;
}

/*large switch*/
.switch-lg small {
  width: 60px;
  height: 24px;
}

.switch-lg small:after {
  font-size: 17px;
  left: auto;
  line-height: 25px;
}

.switch-lg small:before {
  width: 20px;
  height: 20px;
  top: auto;
  left: auto;
  margin: 2px;
}

.switch-lg input:checked~small:before {
  transform: translate(180%, 0px);
  transition: .3s;
}

.switch-blank input~small:after,
.switch-blank input:checked~small:after {
  content: none;
}

/* mine */
.scroll-style {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  height: auto !important;
  max-height: 80vh;
}

.scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 12%);
  border-radius: 10px;
}

.scroll-style::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #D62929;
}

/* .sidebar-nav .sidebar-nav-link:not(.collapsed) {
  background:#006abf;
  } */
.bg-none {
  background: none;
  background-color: transparent !important;
}

.titles {
  top: -20px;
  left: 16px;
}

.border-cPrimary {
  border-color: var(--primary-color) !important;
}

.text-cPrimary {
  color: var(--primary-color) !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.paginate_button.disabled {
  display: none;
}

.paginate_button {
  padding: 10px;
  cursor: pointer;
}

.bg-lightPr {
  background-color: #d7ecfd;
}

.alert-proj {
  color: #005497;
  background-color: var(--primary-color)78;
  border-color: var(--primary-color);
}

.long-con {
  min-height: 250px;
}

.circle-con {
  height: 64px;
  width: 64px;
  background: var(--primary-color) !important;
}

.text-cGreen {
  color: #349F01;
}

.border-cGreen {
  border-color: #349F01 !important;
}

/* .border-transparent {
    border-color: transparent !important;
  } */

.dataTables_length select {
  /* color: red; */
  border: 1px solid #dee2e6;
  border-radius: var(--bs-border-radius);
  outline: none;
}

.border-before:last-child:before {
  height: 15px;
}

.border-before:before {
  content: ' ';
  display: block;
  /* width: 20%; */
  height: 100%;
  border-left: 1px dotted white;
  /* border-bottom: 1px dotted white; */
  position: absolute;
  top: 0%;
  left: 0%;
}

.border-mid:after {
  content: '\27A4';
  position: absolute;
  top: -6px;
  right: -2px;
  color: white;
  line-height: 1;
  font-size: 10px;
}

.border-mid {
  width: 10%;
  min-width: 20px;
  border-top: 1px dotted white;
  transform: translateY(15px);
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

#live {
  color: #e1e1e1;
  display: block;
}

#live.clicked {
  color: #4cbb17;
}

/* .live span {
    display: none;
  } */

.required:after {
  content: ' * ';
  color: rgba(255, 0, 0, 0.699);
}

/* .form-group input[type='text']:not(:placeholder-shown)+label .required:after,
/* .form-group input[typeemailtext']:not(:placeholder-shown)+label .required:after,
  /* .form-group input[typenumbertext']:not(:placeholder-shown)+label .required:after,
  /* .form-group input[typeurlxt']:not(:placeholder-shown)+label .required:after,
  /* .form-group input[color='text']:not(:placeholder-shown)+label .required:after,
  .form-group input[type='password']:not(:placeholder-shown)+label .required:after,
  .form-group input[type='text']:not(:placeholder-shown)+label.required:after {
    .form-group input[type='email']:not(:placeholder-shown)+label.required:after {
    .form-group input[type='number']:not(:placeholder-shown)+label.required:after {
      .form-group input[type='url']:not(:placeholder-shown)+label.required:after {
  .form-group input[type='color']:not(:placeholder-shown)+label.required:after {
    .form-group input[type='password']:not(:placeholder-shown)+label.required:after {
    content: none;
  } */

#add,
#edit {
  scroll-margin-top: 100px;
}


/* .form-floating select::selection + label, */
/* .group-floating select::selection + label, */
/* .form-floating select:not(.disabled) + label{display: none;} */
/* .group-floating select:not(.disabled) + label{display: none;} */
/* 
  .form-floating select:focus + label,
  .form-group select:focus + label,
  .form-floating select:valid + label,
  .form-group select:valid + label,
  .form-group select:focus + label, */
/* .form-group select+label {
    visibility: visible;
    opacity: 1;
    top: calc(0% - 9px);
    font-size: 12px;
    background-color: white;
    padding: 0 4px;
    border-radius: 4px;
    left: 12px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  } */

.form-group select+label.d-nones {
  background-color: transparent;
  /* visibility: hidden; */
  /* opacity: 0; */
  left: 24px;
  top: 7px;

  font-size: 14px;
}

.btn-nav {
  background-color: var(--primary-color);
}

.btn-nav.active,
.btn-nav.complete {
  background-color: #61b439;
}

.btn-nav:before,
.btn-nav:After {
  content: ' ';
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
  position: absolute;
  top: 0%;
}

.btn-nav:before {
  right: -25px;
  border-left: 25px solid #f5f5f5;
  z-index: 1;
}

.btn-nav:After {
  right: -24px;
  border-left: 25px solid var(--primary-color);
  z-index: 2;
}

.btn-nav.active:After,
.btn-navbtn-nav.active:After,
.btn-nav.complete:After,
.btn-navbtn-nav.complete:After {
  border-left: 25px solid #61b439;
  z-index: 2;
}

.btn-nav:last-child:after,
.btn-nav:last-child:before {
  content: none;
}

input.input-shadow[readonly]:focus,
select.input-shadow[readonly]:focus,
textarea.input-shadow[readonly]:focus,
input.input-shadow[disabled]:focus,
select.input-shadow[disabled]:focus,
textarea.input-shadow[disabled]:focus,
input.input-shadow[readonly],
select.input-shadow[readonly],
textarea.input-shadow[readonly],
input.input-shadow[disabled],
select.input-shadow[disabled],
textarea.input-shadow[disabled],
input.input-shadow[readonly]:focus+label,
select.input-shadow[readonly]:focus+label,
textarea.input-shadow[readonly]:focus+label,
input.input-shadow[disabled]:focus+label,
select.input-shadow[disabled]:focus+label,
textarea.input-shadow[disabled]:focus+label,
input.input-shadow[readonly]+label,
select.input-shadow[readonly]+label,
textarea.input-shadow[readonly]+label,
input.input-shadow[disabled]+label,
select.input-shadow[disabled]+label,
textarea.input-shadow[disabled]+label {
  background-color: #e8f0fe !important;
}

input.input-shadow[disabled]:focus,
select.input-shadow[disabled]:focus,
textarea.input-shadow[disabled]:focus,
input.input-shadow[disabled],
select.input-shadow[disabled],
textarea.input-shadow[disabled] {
  color: #000000b9;
  /* opacity: .8; */
  /* font-weight: 600; */
  cursor: not-allowed;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* label .fa-refresh {
    display: none;
  } */

.categoryTree li {
  list-style: none;
}

.categoryTree li a {
  cursor: pointer;
}

.categoryTree li a i::before {
  content: '\f07b';

}

.categoryTree li a:not(.collapsed) i:before {
  content: '\f07c';
}

.categoryTree ul li {
  padding-left: 10px !important;
}

.categoryTree ul {
  padding-left: 0px;
}

/* .categoryTree ul.categoryTree-sub li.categorys{
    position: relative;
  } */

.categoryTree ul.categoryTree-sub li.categorys:before {
  content: ' ';
  display: block;
  height: 100%;
  border-left: 1px dotted gray;
  /* border-bottom: 1px dotted gray; */
  position: absolute;
  top: 0px;
  left: 0%;
  padding-left: 10px;
}


.categoryTree .categoryTree-sub .categorys:last-of-type:before,
.categoryTree ul.categoryTree-sub li.categorys:last-of-type:before {
  top: 2px;
  height: 14px;
  /* height: calc(100% - 12px); */
  /* border-bottom: 1px dotted gray; */
}

.categoryTree .categorys .categorys-border-mid {
  width: 10px;
  min-width: 10px;
  border-top: 1px dotted gray;
  transform: translateY(15px);
  position: relative;
  left: -10px;
}

.ui-datepicker {
  z-index: 997 !important;
}

#ui-datepicker-div,
.ui-widget {
  font-size: 1em;
}

/* .videoAssociation:first-of-type .removeBan{display: none;} */
.tooltips {
  cursor: help;
}

.note-icon-caret {
  display: none;
}

.multiImg-upload-con img,
.img-upload-con img {
  height: 150px;
  width: auto;
}

.dataTables_info {
  padding: 0 !important;
}

/*  */
#overlay {
  display: none;
  background: #000000b5;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
}

.spinner {
  margin: auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid var(--primary-color);
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bg-Cwhite {
  color: #edf0f5;
}

footer p {
  font-size: 13px;
}

footer {
  height: 70px;
}

.multiselect-selected-text {
  overflow-x: hidden;
}

.loginForm {
  width: 500px;
}

.loginFormCon {
  height: 100vh;
}

.fw-600 {
  font-weight: 600;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  outline: 0 !important;
  box-shadow: none;
}

.active>.page-link {
  background-color: #349F01;
  border-color: #349F01;
}

.w-150px {
  width: 150px;
}

.mainCategoryInput~label {
  color: #339900;
}

.subCategoryInput~label {
  color: var(--primary-color);
}

.subSubCategoryInput~label {
  color: black;
}

.controls~label {
  color: #455a64;
}

/* .checkbox-tree ul {padding: 0px 0 0 20px;} */








/* label style */
/*
  .form-floating select[multiple='multiple'] + .btn-group+label
  */
/* .form-floating select+label, */
.form-floating select+label:not(.label_middle)::before,
.form-floating select[multiple='multiple']+.btn-group+label:not(.label_middle)::before,
.form-floating select+label:not(.label_middle)::after,
.form-floating select[multiple='multiple']+.btn-group+label:not(.label_middle)::after,
.form-group .form-control:focus+label:not(.label_middle)::after,
.form-floating select:focus+label:not(.label_middle)::after,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::after,
.form-group .form-control:focus+label:not(.label_middle)::before,
.form-floating select:focus+label:not(.label_middle)::before,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::before,
.form-group .form-control:not(:placeholder-shown)+label:not(.label_middle)::before,
.form-group .form-control:not(:placeholder-shown)+label:not(.label_middle)::after {
  content: '' !important;
  position: absolute;
  inset: auto !important;
  top: 0px !important;
  width: 1px !important;
  height: 9px !important;
  /* Adjust thickness as needed */
  background-color: var(--bs-border-color) !important;
  /* Adjust color as needed */
}


.form-floating select+label:not(.label_middle)::before,
.form-floating select[multiple='multiple']+.btn-group+label:not(.label_middle)::before,
.form-group .form-control:focus+label:not(.label_middle)::before,
.form-floating select:focus+label:not(.label_middle)::before,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::before,
.form-group .form-control:not(:placeholder-shown)+label:not(.label_middle)::before {
  left: 0 !important;
}


.form-floating select+label:not(.label_middle)::after,
.form-floating select[multiple='multiple']+.btn-group+label:not(.label_middle)::after,
.form-group .form-control:focus+label:not(.label_middle)::after,
.form-floating select:focus+label:not(.label_middle)::after,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::after,
.form-group .form-control:not(:placeholder-shown)+label:not(.label_middle)::after {
  right: 0 !important;
}



.form-floating select+label:not(.label_middle),
.form-floating select[multiple='multiple']+.btn-group+label:not(.label_middle),
.form-group .form-control:not(:placeholder-shown)+label:not(.label_middle) {
  /* border-radius: 4px!important; */
  border-top: 1px solid var(--bs-border-color);
}


.form-group .form-control:focus+label:not(.label_middle),
.form-floating select:focus+label:not(.label_middle),
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle),
.form-group .form-control:focus+label:not(.label_middle)::before,
.form-floating select:focus+label:not(.label_middle)::before,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::before,
.form-group .form-control:focus+label:not(.label_middle)::after,
.form-floating select:focus+label:not(.label_middle)::after,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::after {
  outline: #444444 !important;
  border-top: 1px solid darkgray !important;
  transition: all 0.3s ease !important;
}




.form-group .form-control:focus+label:not(.label_middle)::before,
.form-floating select:focus+label:not(.label_middle)::before,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::before,
.form-group .form-control:focus+label:not(.label_middle)::after,
.form-floating select:focus+label:not(.label_middle)::after,
.form-floating select[multiple='multiple']+.btn-group:focus+label:not(.label_middle)::after {
  background-color: darkgray !important;
  transition: all 0.3s ease !important;
}

.custom-cursor {
  position: absolute;
  width: 20px;
  /* Adjust width and height according to your cursor image */
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  /* Allow clicks to go through the cursor */
  z-index: 9999;
  /* Ensure cursor is on top of other elements */
}


.scroll1,
.scroll2 {
  width: 100%;
  border: none 0px RED;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroll1 {
  height: 20px;
}

.scrl1 {
  height: 20px;
}

.scrl2 {
  width: max-content;
  overflow: auto;
}

.MuiTableContainer-root {
  min-width: max-content;
}

.MuiPaper-root {
  min-width: max-content;
}



.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgb(0, 128, 255) !important;
  color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: rgb(33 176 244 / 64%) !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: rgb(0 128 255 / 71%) !important;
  color: white !important;
}

.MuiFormControl-root.select_shadow.form-floating label.MuiFormLabel-root {
  position: absolute !important;
  top: calc(50% - 15px) !important;
  left: 14px !important;
  color: darkgray !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 18px !important;
  background-color: #F6F6F6 !important;
  padding: 4px 4px 4px 4px !important;
  transform: none !important;
  /* pointer-events: auto; */
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease !important;
}

.MuiFormControl-root.select_shadow.form-floating label.MuiInputLabel-shrink.MuiFormLabel-root {
  top: -9px !important;
  color: var(--primary-color) !important;
  /* left: 14px !important; */
  /* transform: none !important;
  pointer-events: auto; */


}

.MuiFormControl-root.select_shadow fieldset.MuiOutlinedInput-notchedOutline {
  display: none;
}



.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d1e8ff;
}

.download-button {
  display: inline-block;
  background-color: #5a8fd5;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #3a68b7;
}





.multi-range-slider {
  width: 300px;
  margin: 0 auto;
}

.horizontal-slider {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: relative;
}

.thumb {
  height: 20px;
  width: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  top: -8px;
  position: absolute;
}

.track {
  height: 100%;
  top: 0;
  position: absolute;
}

.track.track-1 {
  background: #007bff;
}

/* .thumb.thumb-0,
.thumb.thumb-1 {
  transform: translateX(-50%)
} */
.gradient-icon {
  fill: url(#gradient1);
  width: 100px;
  height: 100px;
}
