a {
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  *{
    font-family: 'Open Sans', sans-serif;
  
  }
  html{height: 100%;width: 100%;}
  body{
    height: calc(100% - 100px)
  }
  /* .form-container span .welcome span {
    font-size: 14px;
  } */
  /* 
  .welcome span {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
  } */
  
  /*------------------------------Main--------------------------------*/
  #main {
    margin-top: 60px;
    /* padding: 20px 30px; */
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 0px;
    }
  }
  
  .pagetitle {
    margin-bottom: 10px;
  }
  
  /*------------------------Header--------------------------------------*/
  /* .logo {
    line-height: 1;
  }
  
  .logo img {
    height: 70px;
    margin-right: 6px;
    width: 200px;
  }
  
  .header {
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding: 20px;
  }
  
  .header .btn {
    background-color: #f6f9ff;
    font-weight: 400;
    font-size: 16px;
  }
  
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
  }
  
  .live {
    color: #E1E1E1;
    width: 100px;
  }
  
  .tooltip-custom .tooltip-inner {
    border: 1px solid red;
    background-color: white;
  }
  
  @media (max-width: 1199px) {
    .header .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      background: white;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  
    .header .search-bar-show {
      top: 60px;
      visibility: visible;
      opacity: 1;
    }
  }
  
  .header .search-form {
    width: 100%;
  }
  
  .header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 18px;
    border-radius: 3px;
    transition: 0.3s;
    width: 380px;
    box-shadow: inset -10px 6px 17px 0px #D1D1D1;
  }
  
  .welcome {
    box-shadow: inset -10px 6px 17px 0px #D1D1D1;
  
  }
  
  .profile {
    color: #2196F3;
  }
  
  .profile {
    box-shadow: inset -10px 6px 17px 0px #D1D1D1;
  }
  
  .header .search-form input:focus,
  .header .search-form input:hover {
    outline: none;
  
  }
  
  .header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .header .search-form button i {
    color: #012970;
  } */
  
  /***************************************/
  /* .pagetitle,
  .xmark i {
    background-color: #349F01;
  }
  
  .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
  } */
  
  .btn,
  .btn-close {
    font-weight: 700;
    background-color: #349F01;
  }
  
  .btn:hover {
    background-color: #349F01;
  }
  
  .contact {
    border: 3px solid #2196F3;
    padding: 35px
  }
  
  .box h4 {
    color: #2196F3;
    font-weight: 700;
    top: -43px;
    position: absolute;
    background: white;
    padding: 0px 10px;
  }
  
  /* .box input {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #F6F6F6;
  } */
  
  .box {
    position: relative;
  }
  
  label {
    font-size: 13px;
    color: darkgray;
    font-weight: 600;
  }
  
  .first .btn {
    padding: 0px 70px;
  }
  
  .image {
    background-color: #E1E1E1;
  }
  
  .logos h5 {
    color: #4BADF8;
    font-weight: 600;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group input {
    width: 100%;
    width: 250px;
    padding: 14px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .form-group-color input {
    width: 100%;
    width: 250px;
    height: 58px;
    padding: 14px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  /* .form-group label {
    position: absolute;
    left: 30px;
    top: 17px;
    font-size: 14px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  } */
  
  /* .form-group input:focus {
    border-color: darkgray;
    outline: #444444;
  } */
  
  /* .form-group input:focus+label,
  .form-group input:not(:placeholder-shown)+label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 20px;
  } */
  
  /* .switch {
    display: inline-block;
    }
    .switch input {
    display: none;
    }
    .switch small {
    display: inline-block;
    width: 43px;
    height: 18px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    }
    .switch small:after {
    content: "No";
    position: absolute;
    color: #91B6D4;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 0 6px;
    box-sizing: border-box;
    line-height: 18px;
    }
    .switch small:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 1.5px;
    left: 2px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0,0,0,0.1);
    }
    .switch input:checked ~ small {
    background: #2196F3;
    transition: .3s;
    }
    .switch input:checked ~ small:before {
    transform: translate(25px, 0px);
    transition: .3s;
    }
    .switch input:checked ~ small:after {
    content: "Yes";
    text-align: left;
    } */
  
  
  .breadcrumb-item {
    font-size: 16px;
  }
  
  .breadcrumb-item .active {
    color: "blue"
  }
  
  
  
  /* .form-group input:not(:placeholder-shown)+label {
    top: 1px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 4px;
    left: 14px;
    color: #A9A9A9;
  } */
  
  /* .form-group label {
    position: absolute;
    left: 25px;
    color: #A9A9A9;
    top: calc(50% - 12px);
    background-color: #fff !important;
    font-size: 14px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  } */
  
  
  
  
  
  
  * {
    margin: 0;
    padding: 0;
  }
  
  :root {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    overflow-x: hidden;
    background-color: #FFFFFF;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  /*------------------------------Main--------------------------------*/
  #main {
    margin-left: 50px;
    margin-top: 100px;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 0px;
    }
  }
  
  .pagetitle {
    margin-bottom: 10px;
  }
  
  .pagetitle span {
    font-weight: 100;
    font-size: 14px;
  }
  
  
  /***************************************/
  .pagetitle,
  .xmark i {
    background-color: #349F01;
  }
  
  .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
  }
  
  .btn-primary,
  .btn-close {
    font-weight: 700;
    background-color: #349F01;
  }
  
  .btn-primary:hover {
    background-color: #2196F3;
  }
  
  .bg-lightPr {
    background-color: #2196f32e;
  }
  
  .contact {
    border: 3px solid #2196F3;
    padding: 25px
  }
  
  .box h4 {
    color: #2196F3;
    font-weight: 700;
    top: -43px;
    position: absolute;
    background: white;
    padding: 0px 10px;
  }
  
  /* .box input,
  .input-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #F6F6F6;
  } */
  
  .box {
    position: relative;
  }
  
  label {
    font-size: 13px;
    color: darkgray;
    font-weight: 600;
  }
  
  .first .btn {
    padding: 0px 70px;
  }
  
  .image {
    background-color: #E1E1E1;
  }
  
  .logos h5 {
    color: #4BADF8;
    font-weight: 600;
  }
  
  .form-floating .form-select,
  .form-group input:focus:not(:placeholder-shown),
  .form-group select:focus:not(:placeholder-shown),
  .form-group input,
  .form-group select,
  .form-group input:focus,
  .form-group select:focus {
    width: 100%;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .form-group input:not(:placeholder-shown),
  .form-group select:not(:placeholder-shown) {
    padding-top: 22px !important;
    padding-bottom: 10px !important;
  
  }
  
  .form-group label {
    position: absolute;
    left: 25px;
    top: calc(50% - 12px);
    background-color: #f6f6f6 !important;
    font-size: 14px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  }
  
  .form-floating .form-select:focus,
  .MuiInputBase-root.Mui-focused.form-select,
  .form-group input:focus,
  .form-group select:focus {
    border-color: darkgray;
    outline: #444444;
  }
  
  .form-group input:not(:placeholder-shown)+label {
    top: 1px;
    font-size: 12px;
    background-color: #ffffff;
    padding: 4px 4px 1px 4px;
    border-radius: 4px;
    left: 14px;
  }
  
  .form-group {
    position: relative;
  }
  
  .form-group input:focus+label,
  .form-group input:focus:not(:placeholder-shown)+label,
  .form-group textarea:focus+label,
  .form-group textarea:not(:placeholder-shown)+label {
    top: -9px;
    font-size: 12px;
    color: #2196f3;
    background-color: #f6f6f6;
    padding: 0 4px;
    border-radius: 4px;
    /* left: 25px; */
  }
  
  
  .form-container span {
    font-size: 15px;
  }
  
  .form-container span {
    font-size: 15px;
  }
  
  .switch {
    display: inline-block;
  }
  
  .switch input {
    display: none;
  }
  
  .switch small {
    display: inline-block;
    width: 43px;
    height: 18px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .switch small:after {
    content: "No";
    position: absolute;
    color: #91B6D4;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 0 6px;
    box-sizing: border-box;
    line-height: 18px;
  }
  
  .switch small:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 1.5px;
    left: 2px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .switch input:checked~small {
    background: #2196F3;
    transition: .3s;
  }
  
  .switch input:checked~small:before {
    transform: translate(25px, 0px);
    transition: .3s;
  }
  
  .switch input:checked~small:after {
    content: "Yes";
    text-align: left;
  }
  
  
  
  .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
  
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .pager {
    list-style: none;
  }
  
  .info-heading {
    font-size: 18px;
    color: #349F01;
    font-weight: 700;
    position: relative;
    padding: 0 0 10px;
  }
  
  .dataTables_filter {
    display: none;
  }
  
  .dataTables_length {
    display: flex;
    justify-content: center;
  }
  
  .leftBox p {
    font-size: 14px;
    margin: 0px;
  }
  
  .dataTables_paginate span {
    display: none;
  }
  
  .dataTables_info {
    font-size: 15px;
    padding-top: 0px !important;
  }
  
  .tnav_con {
    border: 1px solid #E3E4E4;
  
  }
  
  .inner-container {
    padding: 10px;
    background: #fff;
    border: 1px solid #e4e5e7;
    margin: 30px 30px 15px 15px;
  
  }
  
  .stepBox .badge span {
    border: 2px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    margin: 0 auto;
  }
  
  .stepBox .stepInfo {
    padding-left: 15px;
  }
  
  .stepBox .stepInfo,
  .bulkUploadBox .bulkUploadBoxInfo {
    display: table-cell;
    vertical-align: middle;
  }
  
  .bulkUploadBox {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 30px;
    margin-top: 15px;
    height: 225px;
  }
  
  .stepBox .stepInfo {
    padding-left: 15px;
  }
  
  .format h4 {
    font-size: 16px;
    color: #349F01;
    font-weight: 600;
  }
  
  .note {
    font-size: 13px;
  }
  
  .scroll-style {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    height: auto !important;
    max-height: 80vh;
  }
  
  .scroll-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 12%);
    border-radius: 10px;
  }
  
  .scroll-style::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
  
  .scroll-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
  }
  
  
  
  .bg-none {
    background: none;
    background-color: transparent;
  }
  
  .top-N20px {
    top: -20px;
  }
  
  .border-cPrimary {
    border-color: #2196f3 !important;
  }
  
  .text-cPrimary {
    color: #2196f3 !important;
  }
  
  .vertical-align-middle {
    vertical-align: middle;
  }
  
  .paginate_button {
    padding: 10px;
    cursor: pointer;
  }
  
  .bg-gray {
    background-color: #f8f8f8;
  }
  
  .long-con {
    height: 250px;
  }
  
  .circle-con {
    height: 64px;
    width: 64px;
    background: #2196F3 !important;
  }
  
  .text-cGreen {
    color: #349F01;
  }
  
  .border-cGreen {
    border: 1px solid #349F01;
  }
  
  .dataTables_length select {
    /* color: red; */
    border: 1px solid #dee2e6;
    border-radius: var(--bs-border-radius);
    outline: none;
  }
  
  .border-before:last-child:before {
    height: 15px;
  }
  
  .border-before:before {
    content: " ";
    display: block;
    height: 100%;
    border-left: 1px dotted white;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  .border-mid {
    width: 10%;
    min-width: 20px;
    border-top: 1px dotted white;
    transform: translateY(15px);
  }
  
  .form-floating .form-select,
  .box input,
  .input-shadow,
  .form-control,
  .form-select,
  .form-control:focus,
  .form-select:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px!important;
    background-color: #f6f6f6;
  }
  
  /* .form-control,
  .form-select {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #f6f6f6;
  } */
  
  /* .form-floating {
    top: -5px;
  } */
  /* .input-shadow {
    font-size: 15px;
  } */
  
  .form-floating select+label::after {
    content: none !important;
  }
  
  /* .select_shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #f6f6f6;
  
  } */
  
  .edit-button-container {
    margin-left: auto;
    /* Align the edit button to the right */
  }
  
  .submit-btn {
    background-color: #349F01;
    color: #fff;
    border: 0;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    /* -webkit-transition: all 0.3s ease; */
  }
  
  .submit-btn-upload {
    background-color: red;
  }
  
  .table-control-top {
    border: 1px solid #E3E4E4;
    padding: 10px;
  }
  
  .switch input {
    display: none;
  }
  
  .switch small {
    display: inline-block;
    width: 43px;
    height: 18px;
    background: #455a64;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .switch input:checked~small {
    background: #2196F3;
    transition: .3s;
  }
  
  .switch input:checked~small:before {
    transform: translate(25px, 0px);
    transition: .3s;
  }
  
  .switch small:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    top: 1.5px;
    left: 2px;
    transition: .3s;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .switch input:checked~small:after {
    content: "Yes";
    text-align: left;
  }
  
  .switch small:after {
    content: "No";
    position: absolute;
    color: #91B6D4;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    left: 0px;
    text-align: right;
    padding: 0 6px;
    box-sizing: border-box;
    line-height: 18px;
  }
  
  .btnall {
    color: "#fff";
    background-color: #DA151E;
    border: 1px solid #2e6da4;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0.25rem;
    transition: all 0.2s ease-out;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4BADF8;
    color: white;
    border-radius: 4px;
    border: none;
    outline: none;
  }
  
  
  
  .btn-nav {
    background-color: #2196f3;
  }
  
  .btn-nav.active,
  .btn-nav.complete {
    background-color: #61b439;
  }
  
  .btn-nav:before,
  .btn-nav:After {
    content: " ";
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    position: absolute;
    top: 0%;
  }
  
  .btn-nav:before {
    right: -25px;
    border-left: 25px solid #f5f5f5;
    z-index: 1;
  }
  
  .btn-nav:After {
    right: -24px;
    border-left: 25px solid #2196f3;
    z-index: 2;
  }
  .folder{
    color: #2196F3;
  }
  .btn-nav.active:After,
  .btn-navbtn-nav.active:After,
  .btn-nav.complete:After,
  .btn-navbtn-nav.complete:After {
    border-left: 25px solid #61b439;
    z-index: 2;
  }
  
  .btn-nav:last-child:after,
  .btn-nav:last-child:before {
    content: none;
  }
  
  .border-cPrimary {
    border-color: #2196f3 !important;
  }
  
  
  
  .tab_container {
    /* background-color: #8080802e; */
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  
  .categoryTree div.categoryTree-sub div.categorys:before{
    content: " ";
    display: block;
    height: 100%;
    border-left: 1px dotted gray;
    /* border-bottom: 1px dotted gray; */
    position: absolute;
    top: 0px;
    left: 0%;
    padding-left: 10px;
  }
  
  
  .categoryTree .categoryTree-sub .categorys:last-of-type:before,
  .categoryTree div.categoryTree-sub div.categorys:last-of-type:before{
    top: 2px;
    height: 14px;
    /* height: calc(100% - 12px); */
    /* border-bottom: 1px dotted gray; */
  }
  .categoryTree .categorys .categorys-border-mid{
    width: 10px;
    min-width: 10px;
    border-top: 1px dotted gray;
    transform: translateY(15px);
    position: relative;
    left: -10px;
  }
  
  
  /* testing purpose */
  
  .categoryTree ul.categoryTree-sub li.categorys:before{
    content: " ";
    display: block;
    height: 100%;
    border-left: 1px dotted gray;
    /* border-bottom: 1px dotted gray; */
    position: absolute;
    top: 0px;
    left: 0%;
    padding-left: 10px;
  }
  
  
  .categoryTree .categoryTree-sub .categorys:last-of-type:before,
  .categoryTree ul.categoryTree-sub li.categorys:last-of-type:before{
    top: 2px;
    /* height: 14px; */
    height: 100%;
  
    /* height: calc(100% - 12px); */
    /* border-bottom: 1px dotted gray; */
  }
  .categoryTree .categorys .categorys-border-mid{
    width: 10px;
    min-width: 10px;
    border-top: 1px dotted gray;
    transform: translateY(15px);
    position: relative;
    left: -10px;
  }
  
  .categoryTree li{
    list-style: none;
  }
  .categoryTree li a{
    cursor: pointer;
  }
  .categoryTree li a i::before{
    content: "\f07b";
    
  }
  
  .categoryTree li a:not(.collapsed) i:before{
    content: "\f07c";
  }
  .categoryTree ul li{
    padding-left: 10px!important;
  }
  .categoryTree ul{
    padding-left: 0px;
  }
  
  .required::after {
    content: " * ";
    color: rgba(255, 0, 0, 0.699);
  }
  
  
  
  
  
  /* Add these styles to your component's CSS or a global stylesheet */
  
  .custom-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .custom-button {
    background-color: #349f01;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .custom-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333333;
  }
  
  .custom-dropdown-item:hover {
    background-color: #ddd;
  }
  
  .admin-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 70px);
    background-color:#f5f7f8; 
  }
  
  /* .admin-panel-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  
  .admin-panel-content h1 {
    /* color: #333333; */
    color: #349F01;
  }
  
  /* .admin-panel-content p {
    color: #666666;
    font-size: 18px;
  } */
  
  footer{
    height: 70px;
  }
  
  
  
  
  
  
  
  
  
  .form-group.abc ,.select_shadow{
    position: relative!important;
  }
  
  
  .form-group.abc input[type='text']:focus:not(:placeholder-shown,[disabled],[readonly]),
  .form-group.abc input[type='text']:focus{
  
    width: 100%!important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    min-height: 58px!important;
   
    border-radius: 10px!important;
    font-size: 16px!important;
    
    transition: all 0.3s ease!important;
   
  }
  
  select.form-select{
    padding-right: 30px!important;
  }
  
  
  .form-group.abc input:not(:placeholder-shown) {
    padding: 16px 14px!important;
    /* padding-bottom: 16px !important; */
  }
  .form-group.abc label{
    position: absolute!important;
    left: 14px!important;
    top: calc(50% - 15px)!important;
    background-color: #F6F6F6!important;
    /* top: 7px!important; */
    font-size: 14px!important;
    padding: 4px 4px 4px 4px!important;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease!important;
  }
  .form-group.abc input[type='color']~label {
    padding-bottom: 0px!important;
  }
  
  
  
  .form-group.abc input[type='text']:focus
   {
    border-color: darkgray!important;
    outline: #444444!important;
  }
  
  
  
  
  .form-floating select+label,
  .form-group.abc input:focus+label,
  .form-group.abc input:not(:placeholder-shown)+label
  {
    top: -9px!important;
    font-size: 14px!important;
    line-height: 18px!important;
    color: #2196f3!important;
    /* background-color: #ffffff!important; */
    padding: 4px 4px 4px 4px!important;
    border-radius: 4px!important;
    left: 14px!important;
    transform: none!important;
    pointer-events: auto;
  }
  .select_shadow label
  {
    top: -5px!important;
    font-size: 16px!important;
    line-height: 18px!important;
    color: #2196f3!important;
    background-color: #F6F6F6!important;
    padding: 4px 4px 4px 4px!important;
    border-radius: 4px!important;
    left: 14px!important;
    height: auto !important;
  }
  .select_shadow select{
    border-radius: 10px;
    background-color: #f6f6f6;
  }
  .select_shadow .infoCircle{
    font-size: 15px;
    color: #2196F3;
  }
  /* .form-group.abc input[type="text"]
  {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #F6F6F6;
  } */
  .form-label{
    font-size: 16px;
    margin-bottom: 0px !important;
  }
  
  .modal-data {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content-data {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close-data {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* InputField component css */
  .Input-Field{
    font-size: 16px;
    border-radius: 5px ;  
    color: black;
    padding: 16px 10px 16px 16px;
    height: 40px;
    border: 0.5px solid rgba(75, 73, 73, 0.13);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #F6F6F6;
  }
  .Input-Field:focus{
  outline: none;
  border: 1px solid #0d6efd;
  }
  .Input-Field[type=number]::-webkit-inner-spin-button, 
  .Input-Field[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
  
  .border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .border-5 {
    border-width: 5px !important;
  }
  .mt-3 {
    margin-top: 1rem !important;
  }
  .datetimepicker-input {
    /* Disable scrolling on the input field */
    pointer-events: none;
  }
  
  
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: rgb(0, 128, 255)!important;
    color: white!important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
    background-color: rgb(33 176 244 / 64%)!important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    background-color: rgb(0 128 255 / 71%)!important;
    color: white!important;
  }
  .MuiFormControl-root.select_shadow.form-floating label.MuiFormLabel-root{
    position: absolute !important;
    top: calc(50% - 15px)!important;
    left: 14px !important;
    color: darkgray!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 18px !important;
    background-color: #F6F6F6 !important;
    padding: 4px 4px 4px 4px !important;
    transform: none !important;
    /* pointer-events: auto; */
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease !important;
  }
  
  .MuiFormControl-root.select_shadow.form-floating label.MuiInputLabel-shrink.MuiFormLabel-root{
    top: -9px !important;
    color: #2196f3 !important;
    /* left: 14px !important; */
    /* transform: none !important;
    pointer-events: auto; */
  
  
  }
  .MuiFormControl-root.select_shadow fieldset.MuiOutlinedInput-notchedOutline{
    display: none;
  }
  